@font-face {
  font-family: 'Paperlogy';
  src: url('/ara/public/Paperlogy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: 'Paperlogy', sans-serif;
}